# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Galcon.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\Galcon\.idea\.idea.Galcon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
